@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --header-height: 5rem;

  /* ===== Blue Color Pallete ===== */
  /* --color-primary: hsl(241, 100%, 11%);
  --color-secondary: hsl(241, 100%, 11%);
  --color-accent: hsl(61, 100%, 53%);
  --color-white: hsl(0, 0%, 100%); */

  /* ===== Black Color Pallete ===== */
  --color-primary: hsl(0, 0%, 0%);
  --color-secondary: hsl(0, 0%, 7%);
  --color-accent: hsl(25, 83%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light: hsl(228, 15%, 50%);

  /* ===== Font And Typography */
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* ===== Font Weight ===== */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Z - Index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ========== General Styles ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--color-white);
  color: var(--color-secondary);
}

h1,
h2,
h3 {
  color: var(--color-secondary);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

.container {
  max-width: 1124px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.section {
  padding: 7.5rem 0 1rem;
}

.main {
  overflow: hidden;
}

.button {
  padding: 0.75rem 3rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  font-size: 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}

/* ========== Navbar ========== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
  transition: 0.4s;
  background-color: transparent;
}

.header-scrolled {
  background-color: var(--color-white);
  box-shadow: 0 4px 16px hsla(228, 4%, 15%, 0.1);
}

.navbar {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 8rem;
}

.navbar__logo {
  font-size: var(--h2-font-size);
  letter-spacing: 3px;
  font-weight: var(--font-medium);
  color: var(--color-primary);
}

.navbar__container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.navbar__link {
  color: hsla(0, 0%, 7%, 0.7);
  border-bottom: 3px solid transparent;
  transition: 0.2s;
}

.navbar__link:hover {
  color: var(--color-secondary);
}

/* Active link */
.active-link {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.navbar__button {
  background: transparent;
  box-shadow: 0 2px 6px hsla(228, 4%, 15%, 0.1);
  border: 1.5px solid var(--color-secondary);
  color: var(--color-primary);
  transition: 0.4s;
  border-radius: 2rem;
}

.navbar__button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.toggle__menu {
  display: none;
}

/* ========== Home ========== */
.home {
  width: 100vw;
  height: 100vh;
}

.home__container {
  grid-template-columns: repeat(2, 1fr);
  padding-top: 5rem;
  column-gap: 6rem;
}

.home__data {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  line-height: 120%;
  margin-bottom: 2rem;
}

.home__description {
  color: var(--color-light);
  margin-bottom: 3rem;
}

.home__value-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}

.home__value-title span {
  color: hsl(228, 66%, 47%);
}

.home__value-description {
  display: flex;
  font-size: var(--small-font-size);
  color: var(--color-light);
}

.home__images {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home__image {
  width: 90%;
  height: 90%;
}

.home__image img {
  height: 100%;
  object-fit: cover;
}

.home__value {
  display: flex;
  column-gap: 4.5rem;
}

/* ========== About ========== */
.about__container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  align-items: flex-start;
}

.about__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.about__image {
  position: absolute;
  overflow: hidden;
  top: 5rem;
  width: 400px;
  height: 550px;
}

.about__image img {
  max-width: initial;
  width: 100%;
  object-fit: cover;
}

.about__subtitle {
  color: hsl(228, 66%, 47%);
  font-size: var(--font-medium);
  display: block;
}

.about__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about__description {
  font-size: var(--normal-font-size);
  margin-bottom: 2.5rem;
}

.about__accordion {
  display: grid;
  row-gap: 1.5rem;
}

.about__accordion-item {
  background-color: var(--color-white);
  border: 2px solid hsl(228, 99%, 98%);
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  border-radius: 0.5rem;
}

.about__accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.about__accordion-icon {
  background-color: hsl(228, 100%, 97%);
  padding: 5px;
  border-radius: 0.25rem;
  font-size: 18px;
  color: var(--color-secondary);
  margin-right: 0.75rem;
  transition: 0.3s;
}

.about__accordion-title {
  font-size: var(--normal-font-size);
}

.about__accordion-arrow {
  display: inline-flex;
  background-color: hsl(228, 100%, 97%);
  padding: 0.25rem;
  color: var(--color-secondary);
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
  transition: 0.3s;
}

.about__accordion-arrow i {
  transition: 0.4s;
}

.about__accordion-content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}

.about__accordion-description {
  font-size: var(--small-font-size);
  padding: 1.25rem 2.5rem 1rem 2.75rem;
}

/*Rotate icon and add shadows*/
.accordion-open {
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, 0.1);
}

.accordion-open .about__accordion-icon {
  box-shadow: 0 4px 4px hsla(228, 66%, 45%, 0.1);
}

.accordion-open .about__accordion-arrow {
  box-shadow: 0 2px 4px hsla(228, 66%, 45%, 0.1);
}

.accordion-open .about__accordion-arrow i {
  transform: rotate(-180deg);
}

/* ========== Footer ========== */
.footer__container {
  row-gap: 2.5rem;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}

.footer__logo {
  font-size: var(--h3-font-size);
  letter-spacing: 3px;
  font-weight: var(--font-medium);
  color: var(--color-primary);
}

.footer__description,
.footer__link {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--color-light);
}

.footer__link,
.footer__social-link {
  transition: 0.3s;
}

.footer__link:hover,
.footer__social-link:hover {
  color: var(--color-primary);
}

.footer__description {
  margin-top: 1rem;
}

.footer__content,
.footer__links {
  display: grid;
}

.footer__content {
  grid-template-columns: repeat(4, max-content);
  gap: 2.5rem 4rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__links {
  row-gap: 1rem;
}

.footer__socials {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--color-light);
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin-top: 5.5rem;
}

.footer__copyright,
.footer__privacy a {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--color-light);
}

.footer__privacy {
  display: flex;
  column-gap: 1.25rem;
}

/*=============== Scroll Bar ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(228, 8%, 76%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(228, 8%, 64%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 8%, 54%);
}
